Repository B4C3T2/Cinema, pull requests merged in 2021-04, with the labels that each got.

#40 #38 movies table
  Kód/Database/moviestable.sql
  Kód/Database/mufajoktable.sql
Labels: coding

#42 #41 user and seat classes
  Kód/PHP/Seat.php
  Kód/PHP/User.php
Labels: PHP

#43 #30 Foglalási oldal elkészítése
  Kód/CSS/foglalas_style.css
  Kód/CSS/pictures/foglalas_hatter.jpg
  Kód/Html/foglalas.html
  Kód/Html/home.html
Labels: CSS, HTML

#44 #32 html css sign in page
  Kód/CSS/bejelentkezes_style.css
  Kód/Html/bejelentkezes.html
Labels: CSS, HTML

#45 #31 Regisztrációs felület elkészítése
  Kód/CSS/regisztracio_style.css
  Kód/Html/regisztracio.html
Labels: CSS, HTML

#46 #32 Bejelentkezés és Regisztrációs oldalak hibáinak javítása
  Kód/CSS/bejelentkezes_style.css
  Kód/CSS/regisztracio_style.css
  Kód/Html/bejelentkezes.html
  Kód/Html/regisztracio.html
Labels: CSS, HTML

#48 #47 booking management methods
  Kód/PHP/BookingManagement.php
Labels: PHP

#50 #49 database management
  Kód/PHP/DatabaseManagement.php
Labels: PHP, coding

#54 #53 html css refuse page
  Kód/Html/lemondas.html
Labels: CSS, HTML

#57 #55 php html közös mappa
  Kód/PHP-HTML/.htaccess
  Kód/PHP-HTML/BookingManagement.php
  Kód/PHP-HTML/DatabaseManagement.php
  Kód/PHP-HTML/Seat.php
  Kód/PHP-HTML/User.php
  Kód/PHP-HTML/index.php
  Kód/PHP-HTML/protected/.htaccess
Labels: HTML, PHP

#59 #58 Mappaszerkezet módosítása
  Kód/PHP-HTML/index.php
  Kód/PHP-HTML/protected/database.php
  Kód/PHP-HTML/protected/footer.php
  Kód/PHP-HTML/protected/header.php
  Kód/PHP-HTML/protected/nav.php
  Kód/PHP-HTML/protected/normal/404.php
  Kód/PHP-HTML/protected/normal/home.php
  Kód/PHP-HTML/public/bejelentkezes_style.css
  Kód/PHP-HTML/public/foglalas_style.css
  Kód/PHP-HTML/public/home_style.css
  Kód/PHP-HTML/public/pictures/007_no_time_to_die.jpg
  Kód/PHP-HTML/public/pictures/back.png
  Kód/PHP-HTML/public/pictures/black_widow.jpg
  Kód/PHP-HTML/public/pictures/foglalas_hatter.jpg
  Kód/PHP-HTML/public/pictures/hatter.jpg
  Kód/PHP-HTML/public/pictures/hatter2.jpg
  Kód/PHP-HTML/public/pictures/icon.png
  Kód/PHP-HTML/public/pictures/justice_league.jpg
  Kód/PHP-HTML/public/pictures/the_gentlemen.jpg
  Kód/PHP-HTML/public/pictures/top_gun_2.jpg
  Kód/PHP-HTML/public/regisztracio_style.css
Labels: CSS, HTML, PHP

#61 #60 routing config php files
  Kód/PHP-HTML/protected/booking/book.php
  Kód/PHP-HTML/protected/booking/refuse.php
  Kód/PHP-HTML/protected/config.php
  Kód/PHP-HTML/protected/routing.php
Labels: PHP

#63 #56 HTML fájlok átírása PHP-be
  Kód/PHP-HTML/protected/booking/book.php
  Kód/PHP-HTML/protected/booking/refuse.php
  Kód/PHP-HTML/protected/normal/home.php
Labels: HTML, PHP
