Repository B4C3T2/Cinema, pull requests merged in 2021-03, with the labels that each got.

#17 #8 folders reformat
  Dokumentumok/Adatbázis terv.md
  Dokumentumok/Funkcionális specifikáció.md
  Dokumentumok/Képernyőterv/Bejelentkezési képernyő terv.png
  Dokumentumok/Képernyőterv/Foglalási oldal képernyő terv.png
  Dokumentumok/Képernyőterv/Főoldal képernyő terv.png
  Dokumentumok/Képernyőterv/Regisztárciós képernyő terv.png
  Dokumentumok/Követelmény specifikáció.md
  Dokumentumok/Rendszerterv.md
  Dokumentumok/Use-case-diagram.png
  Kód/CSS/style.css
  Kód/Database/db.sql
  Kód/Html/home.html
  Kód/PHP/index.php
Labels: documentation

#20 #2 requirement specification editing
  Dokumentumok/Követelmény specifikáció.md
Labels: documentation

#27 #2 requirement specification finishing
  Dokumentumok/Követelmény specifikáció.md
Labels: documentation

#33 #29 Főoldal szerkesztése, modernebb kinézet
  Kód/CSS/home_style.css
  Kód/CSS/pictures/007_no_time_to_die.jpg
  Kód/CSS/pictures/black_widow.jpg
  Kód/CSS/pictures/hatter2.jpg
  Kód/CSS/pictures/justice_league.jpg
  Kód/CSS/pictures/the_gentlemen.jpg
  Kód/CSS/pictures/top_gun_2.jpg
  Kód/Html/home.html
Labels: CSS, HTML

#34 #32 html css sign in page
  Kód/CSS/bejelentkezes_style.css
  Kód/CSS/pictures/back.png
  Kód/CSS/pictures/icon.png
  Kód/Html/bejelentkezes.html
Labels: CSS, HTML

#35 #29 HTML és CSS módosítások, a Főoldal megkapta a Hyper Cinema címet
  Kód/CSS/home_style.css
  Kód/Html/home.html
Labels: CSS, HTML

#36 #28 php booking management
  Kód/PHP/BookingManagement.php
  Kód/PHP/index.php
Labels: PHP
