Repository B4C3T2/Cinema, pull requests merged in 2021-05, with the labels that each got.

#65 #64 mappak register login
  Kód/PHP-HTML/BookingManagement.php
  Kód/PHP-HTML/UserManagement.php
  Kód/PHP-HTML/protected/user/login.php
  Kód/PHP-HTML/protected/user/register.php
Labels: PHP, coding

#66 #62 HTML fájlok átírása PHP-be
  Kód/PHP-HTML/protected/user/login.php
  Kód/PHP-HTML/protected/user/register.php
Labels: HTML, PHP

#68 #67 HTML- Foglalás, lemondás, főoldal oldalak szerkesztése
  Kód/PHP-HTML/protected/booking/book.php
  Kód/PHP-HTML/protected/booking/refuse.php
  Kód/PHP-HTML/protected/normal/home.php
Labels: HTML

#74 #73 HTML kódok hibajavítása - login.php és register.php
  Kód/PHP-HTML/protected/user/login.php
  Kód/PHP-HTML/protected/user/register.php
Labels: HTML

#76 Főoldal-HyperCinema felirat elhelyezése
  Kód/PHP-HTML/protected/normal/home.php
Labels: HTML

#80 #79 adatbazis letrehozas
  Kód/Database/booking_seats.sql
  Kód/Database/cinema_database.sql
  Kód/Database/db.sql
  Kód/Database/moviestable.sql
  Kód/Database/mufajoktable.sql
  Kód/Database/usertable.sql
Labels: database

#85 #84 home and book methods correction
  Kód/PHP-HTML/protected/booking/book.php
  Kód/PHP-HTML/protected/booking/refuse.php
Labels: PHP

#86 #83 booking page modification
  Kód/PHP-HTML/protected/booking/book.php
Labels: HTML

#88 Adatbázis feltöltésre került a tesztadatokkal
  Kód/Database/cinema_database.sql
Labels: PHP

#91 #90 tesztjegyzokonyv apadokumentum
  Dokumentumok/Tesztjegyzőkönyv.md
Labels: documentation

#92 Főoldal/Foglalási oldalhoz a tesztjegyzőkönyv megírása
  Dokumentumok/Tesztjegyzőkönyv.md
Labels: documentation

#94 #93 testplan systemdesign refactoring
  Dokumentumok/Rendszerterv.md
  Dokumentumok/Tesztterv.md
Labels: documentation

#96 #95 session uid in pages
  Kód/PHP-HTML/protected/booking/book.php
  Kód/PHP-HTML/protected/booking/refuse.php
Labels: PHP

#100 #98 login register html fix
  Kód/PHP-HTML/protected/user/login.php
  Kód/PHP-HTML/protected/user/register.php
Labels: HTML

#101 #99 login register fix
  Kód/PHP-HTML/protected/user/login.php
  Kód/PHP-HTML/protected/user/register.php
Labels: PHP

#102 #98 PHP/HTML - Login és Register formok hibáinak javítása
  Kód/PHP-HTML/protected/user/login.php
  Kód/PHP-HTML/protected/user/register.php
Labels: HTML

#104 #98 form replacement
  Kód/PHP-HTML/protected/user/login.php
Labels: HTML

#107 #106 value to name
  Kód/PHP-HTML/protected/booking/book.php
  Kód/PHP-HTML/protected/nav.php
  Kód/PHP-HTML/protected/normal/home.php
  Kód/PHP-HTML/public/foglalas_style.css
  Kód/PHP-HTML/public/home_style.css
Labels: CSS, HTML

#113 Bejelentkezés és regisztráció tesztjeinek leírása
  Dokumentumok/Tesztjegyzőkönyv.md
Labels: documentation

#114 PHP - refuse.php - Elíras javítása a paramétereknél
  Kód/PHP-HTML/protected/booking/refuse.php
Labels: PHP

#115 Tesztjegyzőkönyv.md - Bejelentkezés, Regisztráció frontend tesztelése
  Dokumentumok/Tesztjegyzőkönyv.md
Labels: documentation

#116 Dokumentáció - Tesztterv.md üres táblázatok törlése
  Dokumentumok/Tesztterv.md
Labels: documentation

#118 HTML-Lemondás működtetése beégetett értékkel
  Kód/PHP-HTML/protected/booking/refuse.php
Labels: HTML

#120 PHP - refuse.php - bookingId változónév javítása(booking_id helyett))
  Kód/PHP-HTML/protected/booking/refuse.php
Labels: PHP

#122 #121 booking method rework
  Kód/Database/cinema_database.sql
  Kód/PHP-HTML/protected/booking/book.php
  Kód/PHP-HTML/protected/normal/home.php
Labels: PHP, database

#124 PHP - book.php - Foglalás törlése, ha nem szabadak a székek
  Kód/PHP-HTML/protected/booking/book.php
Labels: PHP

#126 #125 refuse home page modification
  Kód/PHP-HTML/protected/booking/book.php
  Kód/PHP-HTML/protected/normal/home.php
  Kód/PHP-HTML/public/foglalas_style.css
  Kód/PHP-HTML/public/home_style.css
Labels: CSS, HTML, PHP

#128 Jegyzőkönyv kiegészítés javítása
  Dokumentumok/Tesztjegyzőkönyv.md
Labels: documentation

#131 Dokumentáció - Tesztterv.md - Táblázatok formázási hibáinak javítása a 2.1 és 2.2 fejezetben
  Dokumentumok/Tesztterv.md
Labels: documentation

#132 Dokumentáció - Tesztjegyzőkönyv.md - Tesztelések emberenkénti elkülönítése és rendezése
  Dokumentumok/Tesztjegyzőkönyv.md
Labels: documentation

#134 #133 test document modification
  Dokumentumok/Tesztjegyzőkönyv.md
Labels: documentation

#136 #135 book refuse tests and correction
  Dokumentumok/Tesztjegyzőkönyv.md
  Kód/PHP-HTML/protected/booking/refuse.php
Labels: PHP, documentation
